@using Business.ViewModels.Size
@model SizeCreateVM

<form method="post" asp-action="Create" asp-controller="Size">
	<div class="form-group">
		<label asp-for="Name" class="form-label"></label>
		<input asp-for="Name" class="form-control" placeholder="Enter name" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<br />
	<button type="submit" class="btn btn-primary">Create</button>
	<a class="btn btn-danger" asp-action="Index" asp-controller="Size">Back</a>
</form>