@using Business.ViewModels.Size
@model SizeCreateVM

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["Error"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<form method="post" asp-action="Create" asp-controller="Size">
    <div class="form-group">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

        <label asp-for="Name" class="form-label">Size Name</label>
        <input asp-for="Name" class="form-control" placeholder="Enter size name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Create</button>
    <a class="btn btn-danger" asp-action="Index" asp-controller="Size">Back</a>
</form>
