@using Business.ViewModels.Account
@model ForgetPasswordVM

<div class="auth-wrapper">
    <div class="auth-container">
        <form asp-action="ForgetPassword" method="post" class="auth-form">
            <h3 class="auth-title">Reset Password</h3>
            <div class="auth-input-group">
                <input asp-for="Email" type="text" placeholder="Email Address" class="auth-input">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="auth-button">Confirm</button>
            <div class="auth-links">
                <a asp-action="Login">back to the login</a>
            </div>
        </form>
        <div class="auth-image">
            <img src="~/assets/images/fashion-websites.jpg" alt="Login Image">
        </div>
    </div>
</div>