<!-- Register -->
<div class="auth-wrapper">
    <div class="auth-container reverse">
        <div class="auth-image">
            <img src="~/assets/images/fashion-Ecommerce1.jpg" alt="Register Image">
        </div>
        <form action="" class="auth-form">
            <h3 class="auth-title">Register</h3>
            <div class="auth-input-group">
                <input type="text" placeholder="First Name" class="auth-input">
                <input type="text" placeholder="Last Name" class="auth-input">
            </div>
            <div class="auth-input-group">
                <input type="text" placeholder="Email Address" class="auth-input">
            </div>
            <div class="auth-input-group">
                <input type="password" placeholder="Password" class="auth-input">
            </div>
            <div class="auth-input-group">
                <input type="password" placeholder="Confirm Password" class="auth-input">
            </div>
            <button type="submit" class="auth-button">Confirm</button>
            <div class="auth-links">
                <a asp-controller="Login" asp-action="Index">Already have an account?</a>
            </div>
        </form>
    </div>
</div>
<!-- Register End -->